.leaders{
    background-color: rgba(148, 255, 194, 0.671);
    margin-top: 20px;
    font-family:'Segoe UI';
    font-size: 1.3em;
    display: flex;
    padding: 0.2em;
    color: rgb(0, 0, 118);
    border-radius: 15px;
}
.leaders div{
    flex: 1;
    
}
.leaders .tables{
    border-bottom: 1px solid rgb(63, 63, 63);
    
}
